* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* Navigation */

.nav {
    height: 50px;
    background-color: #333;
    text-align: center;
    line-height: 50px;
    font-size: 0; 
}

.nav-item {
    display: inline-block;
}

.nav-item a {
    padding:  0 50px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    transition: color .3s, border .3s;
}

.nav-item a:hover {
    color: rgb(97, 97, 192);
    border-bottom: 3px solid rgb(97, 97, 192);
}

/* Header */

.header-img {
    position: relative;
    height: 300px;
    background-image: url('../img/background-planets.jpg ');
    background-size: cover;
    background-position: 0 50%;
}

.headres-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
}

.headres-text h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,3,27,.4);
}

/* main */

main {
    margin: 50px auto;
    width: 1200px;
}

main h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

.about-us-box {
    position: relative;
    margin: 40px 0;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.top {
    background-image: url('../img/coffee-expres.jpg');
}

.middle {  
    background-image: url('../img/mobile-phone-castle.jpg')
}

.bottom {
    background-image: url('../img/office-620822_1920.jpg');
}

.about-us-text {
    position: absolute;
    bottom: 20px;
    padding: 20px 40px;
    text-align: center;
    color: #fff;
}

.about-us-text h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.about-us-bg {
    position: absolute;
    bottom: 0px;
    height: 45%;
    width: 100%;
    background-color: rgb(0,0,0,.8);
}

/* footer */

footer {
    height: 80px;
    line-height: 80px;
    background-color: #333;
    color: #ddd;
    text-align: center;
    font-size: 20px;
}

.icon-box{
    margin-left: 20px;
}

.icon-box a {
    margin: 0 5px;
    color: #ddd;
    font-size: 30px;
    transition: color .3s;
}

.icon-box a:hover {
    color: rgb(97, 97, 192);
}

/* Priclist */

.table-price {
    border: 2px solid black;
    margin: 50px auto;
    border-collapse: collapse;
}

th {
    border: 2px solid black;
    background-color: rgba(51, 51, 51, 0.404);
    font-weight: bold;
}

td {
    border: 2px solid black; 
    padding: 6px 20px;
}

tr:hover {
    background-color: rgba(153, 151, 151, 0.578);
}

/* contact */

.contact {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    list-style: none;
    font-size: 17px;
}

.contact li {
    padding: 7px;
    text-align: left;
    text-decoration: none;
}

.contact-title {
    font-weight: bold;
    font-size: 20px;
}

.contact a{
    text-decoration: none;
    color: black;
}

/* services */

.services-list {
    margin: 0 auto;
    width: 300px;
}